<h2>Sign up</h2>

<div class="d-flex justify-content-center align-items-center" style="height: 50vh;" >

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com", autofocus: true, autocomplete: "email" %>
      <%= f.label :email, "Email address", for: "floatingInput" %>
    </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password", autocomplete: "new-password" %>
    <%= f.label :password,"Password", for: "floatingPassword" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, class: "form-control", id: "floatingPassword", placeholder: "Password", autocomplete: "new-password" %>
    <%= f.label :password_confirmation, "Password confirmation", for: "floatingPassword" %>
  </div>

    <%= f.submit "Sign Up", class: "btn btn-primary w-100 py-2" %>

  <% end %>



</div>